* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #00703C;
    --background-dark-color: #42632d;
    --background-light-color: #49a942;
    --color-grey: #f8f8f8;
    --font-color: #1a1a1a;
    --beuty-font: "Merriweather Sans", serif;
    --regular-font: "Lexend", sans-serif;
    --font-size: 16px;
    --big-font-size: 50px;
    --spacing: 70px;
    --siteWidth: 1280px;
}

body {
    line-height: 1.75;
    overflow-x: hidden;
}

p {
    font-size: var(--font-size);
    font-family: var(--regular-font);
    color: var(--font-color);
}

h1,
h2,
h3 {
    font-family: var(--beuty-font);
}

a {
    text-decoration: none;
}

.siteWidth {
    max-width: var(--siteWidth);
    margin: 0 auto;
}

.flexOnCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.onCenter {
    justify-content: center;
}

.alignFirst {
    align-self: flex-start;
    margin-right: auto;
}

.mainSection {
    padding-top: 0 !important;
}

.sectionWide {
    width: 100%;
}

.sectionColumn article {
    flex-direction: column;
}

.sectionColumn article .sectionRow {
    width: 100%;
    padding: 0;
}

.mainRow {
    flex-direction: column;
    gap: 50px;
}

nav a::before,
.button,
a,
#topMenu,
#topMenu ul,
#topMenu ul li,
#topMenu ul li a,
.arrowWrapper,
.articleSlideContent,
.articleSlideContent p,
.articleSlideWrapper img,
.sliderArrow,
.hamburger,
.hamburger span,
.newsletterButton,
.newsletterButton::before {
    transition: 300ms;
}

.stressText {
    color: var(--background-color);
}

.button {
    display: inline-flex;
    padding: 10px 20px;
    margin: 0;
    border: solid 1px var(--background-color);
    font-size: var(--font-size);
    text-transform: uppercase;
    background-color: var(--background-color);
    color: #fff;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-width: 150px;
    min-height: 30px;
    line-height: 1;
    letter-spacing: .08em;
}

.button span {
    margin: 0;
    padding: 0;
    font-family: var(--regular-font);
}

.button:hover {
    background-color: #fff;
    border-color: var(--background-color);
    color: var(--background-color)
}

.buttonLight {
    border-color: var(--color-grey);
    color: #fff;
    background-color: transparent;
}

.buttonLight:hover {
    background-color: #fff;
    color: var(--background-color);
    border-color: var(--background-dark-color);
}

#topMenu {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) -70%, rgba(0, 0, 0, 0) 100%);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: transparent;
    color: #fff;
    height: 120px;
    z-index: 1000;
}

#topMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    width: 100%;
}

#topMenu ul li {
    display: inline;
}

#topMenu ul li a {
    color: #fff;
    position: relative;
    font-size: var(--font-size);
    font-family: var(--regular-font);
}

#topMenu a::before {
    content: '';
    background-image: url(svg/listek.svg);
    background-repeat: repeat;
    background-size: contain;
    position: absolute;
    bottom: -20px;
    width: 58px;
    max-width: 58px;
    height: 100%;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    cursor: default;
    pointer-events: none;
}

#topMenu a:hover::before {
    opacity: 1;
}

#topMenu .active a::before {
    opacity: 1;
}

.act #topMenu {
    background: #fff;
    height: 70px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .1);
}

.act #topMenu ul li a {
    color: var(--background-color);
}

.act #topMenu a::before {
    background-image: url(svg/listekZielony.svg);
}

.heroImage {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.heroImage img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.heroContent {
    width: calc(100% - 150px);
    max-width: var(--siteWidth);
    text-align: left;
    line-height: 1.75;
    z-index: 5;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heroInfo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - 150px);
    max-width: var(--siteWidth);
    text-align: right;
    line-height: 1.75;
    z-index: 5;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heroInfoContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 340px;
    padding: 35px 60px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid var(--background-color);
    background-color: #fff;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, .2);
    gap: 30px;
}

.heroFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 150px);
    max-width: var(--siteWidth);
    line-height: 1.75;
    z-index: 5;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heroFooter img {
    width: 50px;
    height: 50px;
}

.heroFooter .arrowWrapper {
    position: relative;
    animation: upDown 2s ease-in-out infinite;
    opacity: 1;
}

.heroFooter .arrowWrapper:hover {
    opacity: 0.6;
    cursor: pointer;
}

@keyframes upDown {
    0% {
        top: 0;
    }

    50% {
        top: 10px;
    }

    100% {
        top: 0;
    }
}

.heroInfoContent .heroSubtitle {
    color: var(--background-color);
    text-shadow: none;
}

.heroTitle {
    color: #fff;
    font-size: 72px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .25);
}

.heroSubtitle {
    color: #f8f8f8;
    font-size: 32px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .25);
}

.classicSection {
    padding-top: var(--spacing);
}

article {
    display: flex;
}

.SingleColumn {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SingleColumn .headingText {
    justify-content: center;
    text-align: center;
    padding: var(--spacing) 0 !important;
}

.SingleColumn .content {
    padding: 0;
}

.headingText,
.headingTextChart,
.headingTextSeparator,
.headingTextNewsletter {
    display: flex;
    font-size: var(--big-font-size);
    color: var(--background-color);
    text-transform: uppercase;
    padding-bottom: 30px;
}

.mainHeadingText {
    padding-bottom: var(--spacing);
    text-align: center;
}

.headingTextChart {
    color: var(--color-grey);
    text-align: center;
    justify-content: center;
    padding-top: var(--spacing);
}

article .content {
    text-align: left;
    padding-right: 60px;
}

article .sectionRow {
    width: 50%;
}

.sectionRow .button,
.separatorWrapper .button,
.chartWrapper .button {
    margin-top: 30px;
}

article .picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 6px 11px 10px 0px rgba(0, 0, 0, 0.09);
}

.classicSection.reverse article {
    flex-direction: row-reverse;
}

.classicSection.reverse article .content {
    padding-right: 0;
    padding-left: 60px;
}

.articleSlider {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.articleSlide img {
    display: block;
    position: relative;
    max-width: 100%;
}

.articleSlideWrapper {
    position: relative;
    height: 300px;
    width: auto;
    display: block;
    overflow: hidden;
    padding: 12px;
}

.articleSlideContent {
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.09);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    opacity: 0.6;
    border-bottom: 3px solid #fff;
}

.articleSlide {
    position: relative;
    height: 280px;
    width: auto;
    display: block;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.articleSlideText {
    background-color: #fff;
    height: 80px;
}

.articleSlideText p {
    position: relative;
    bottom: 0;
    padding: 10px 20px;
    text-align: center;
}

article .picture.articleSlide img {
    box-shadow: none;
}

.slick-current .articleSlideContent {
    opacity: 1;
    border-bottom: 3px solid var(--background-color);
}

.slick-current .articleSlideContent p {
    position: relative;
    bottom: 3px;
    color: var(--background-color);
    font-size: 20px;
}

article .articleSlideWrapper:hover .picture.articleSlide img {
    transform: scale(1.05);
}

.sliderArrow {
    position: absolute;
    cursor: pointer;
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 3;
    opacity: 1;
}

.sliderArrow:hover {
    opacity: 0.6;
}

.sliderArrow.nextArrow {
    left: unset;
    right: 0;
}

.sliderArrow img {
    width: 50px;
    height: 50px;
}

.chartList,
.separatorImage,
.separatorVideo,
.newsletterSection {
    padding-top: var(--spacing);
}

.chartWrapper {
    width: 100%;
    background-color: var(--background-color);
    padding-bottom: var(--spacing);
    flex-direction: column;
}

.separatorImage,
.separatorVideo {
    min-height: 50vh;
}

.separatorImage img,
.separatorVideo video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.separatorVideo {
    min-height: 50vh;
}

.separatorWrapper {
    position: relative;
    width: 100%;
    padding: 60px 0;
}

.separatorWrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: .35;
    z-index: 1;
}

.separatorContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.headingTextSeparator,
.separatorWrapper p {
    color: #fff;
    text-align: center;
}

.separatorWrapper p {
    margin: 0 200px;
    line-height: 2;
}

.chartTable,
.userTable {
    padding: 20px;
    border-collapse: collapse;
    width: 100%;
}

.chartTable td {
    border: 2px solid var(--color-grey);
    padding: 30px;
    text-align: center;
    color: var(--color-grey);
}

.userTable td,
tr {
    text-align: center;
    padding: 30px;
}

.userTable tr {
    color: var(--background-color);
}

.userTable td {
    border-bottom: 2px solid var(--color-grey);
    color: #000;
}

.chartTable tr td:first-child {
    border-left: none;
    border-top: none;
}

.chartTable tr td:last-child {
    border-right: none;
    border-top: none;
}

.chartTable tr:last-child td {
    border-bottom: none;
}

.mapSection {
    padding-top: var(--spacing);
}

.sectionInformation {
    padding-top: var(--spacing);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Column {
    display: flex;
    flex-direction: column;
    flex: 0 0 27%;
}

.ColumnMiddle {
    flex: 0 0 36%;
}

.smallSection {
    width: 50%;
}

.smallSection p {
    text-align: center;
}

.smallSection .headingText {
    align-items: center;
    justify-content: center;
}

.smallSection article {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.smallSection article .sectionRow {
    width: 100%;
}

.allArticlesWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: var(--spacing);
}

.allArticlesWrapper .articleSlide {
    height: 256px;
}

.allArticlesWrapper .articleSlideWrapper {
    width: 30%;
    padding: 12px 12px var(--spacing) 12px;
}

.allArticlesWrapper .articleSlide img {
    object-fit: cover;
    height: 100%;
}

.allArticlesWrapper .articleSlideWrapper:hover .picture.articleSlide img {
    transform: scale(1.05);
}

.sectionForm,
.sectionInfo {
    width: 50%;
    justify-content: center;
    display: flex;
}

.sectionInfo {
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.buttonWrapper {
    display: flex;
    justify-content: end;
    gap: 30px;
}

.newsletterWrapper {
    flex-direction: column;
}

.newsletterSection {
    text-align: center;
}

.newsletterForm {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.newsletterInput {
    flex: 1;
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-bottom: solid 3px var(--background-color);
    outline: none;
    max-width: 400px;
}

.newsletterInput:focus {
    border: none;
    border-bottom: solid 3px var(--background-color);
}

.newsletterButton {
    position: relative;
    width: 50px;
    height: 50px;
    font-size: 1rem;
    border: none;
    background-color: transparent;
    color: transparent;
    cursor: pointer;
}

.newsletterButton::before {
    content: '';
    background-image: url(svg/strzalkaNewsletter.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 50px;
    left: 50%;
    transform: translate(-50%);
    opacity: 1;
}

.newsletterButton:hover:before {
    opacity: 0.6;
}

footer {
    padding-top: var(--spacing);
}

.footerWrapper {
    background-color: var(--background-color);
}

.footerSection {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footerSection p {
    padding: 15px;
    font-size: 12px;
    color: #fff;
}

.footerSection a {
    color: #fff;
}

.footerSection a:hover {
    color: var(--color-grey);
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 15px 20px 15px 0;
    opacity: 1;
}

.hamburger:hover {
    opacity: .6;
}

.hamburger span {
    background-color: #fff;
    border-radius: 2px;
    display: block;
    height: 4px;
    margin: 5px 0;
    width: 40px;
}

.minigame {
    width: 100%;
}

.dropzone {
    width: 200px;
    height: 200px;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
}

.dropzone[value="0"] {
    background-color: #84de9f;
}

.dropzone[value="1"] {
    background-color: #6d5519;
}

.dropzone[value="2"] {
    background-color: #a3c2e0;
}

.dropzone[value="3"] {
    background-color: #d8de41;
}

.dropzone-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.draggable-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 10px;
    border: 2px solid #ccc;
    margin-bottom: 20px;
}

.dragable {
    width: 80px;
    height: 80px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    cursor: grab;
    position: relative;
    text-align: center;
}

.dragable:active, .draggable.grabbing {
    cursor: grabbing;
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
}

.dragable.locked {
    cursor: not-allowed;
    opacity: 0.5;
}

#draggableItem1 {
    background-image: url(img/szklo1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#draggableItem2 {
    background-image: url(img/bio1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#draggableItem3 {
    background-image: url(img/paipier1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#draggableItem4 {
    background-image: url(img/plastik1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#draggableItem5 {
    background-image: url(img/plastik2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#draggableItem6 {
    background-image: url(img/bio2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


#draggableItem7 {
    background-image: url(img/szklo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


#draggableItem8 {
    background-image: url(img/paipier2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.dragable.locked {
    cursor: not-allowed;
    opacity: 0.5;
}

#confirmButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

#confirmButton:hover {
    background-color: #45a049;
}

.hidden {
    opacity: 0.1;
    pointer-events: none;
}

#gameResult {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
    margin-bottom: 15px;
}

.modal-content button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.modal-content button:hover {
    background-color: #218838;
}

form {
    text-align: center;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
}

fieldset {
    text-align: left;
    margin-bottom: 15px;
    padding: 10px;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 5px;
}

.act .hamburger span,
.columnOn .hamburger span {
    background-color: var(--background-color);
}

.columnOn .hamburger span:nth-child(1) {
    transform: rotate(45deg) translate(10px, 10px);
}

.columnOn .hamburger span:nth-child(2) {
    transform: rotate(45deg) translate(0, 0);
    opacity: 0;
}

.columnOn .hamburger span:nth-child(3) {
    transform: rotate(-45deg) translate(10px, -10px);
}

@media (max-width: 1280px) {

    .heroInfo {
        display: none;
    }

    .separatorWrapper p {
        margin: 0 100px;
    }

    .siteWidth {
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 980px) {

    :root {
        --spacing: 30px;

    }

    .footerSection,
    .classicSection article,
    .classicSection.reverse article,
    .dropzone-container
    {
        flex-direction: column;
    }

    .draggable-container{
         height: 400px;   
    }

    .footerSection {
        text-align: center;
    }

    article .sectionRow {
        width: 100%;
    }

    .sectionRow.content {
        padding-bottom: var(--spacing);
    }

    .classicSection article .content {
        padding-right: 0;
    }

    .classicSection.reverse article .content {
        padding-left: 0;
    }

    .alignFirst {
        margin-right: unset;
        align-self: unset;
    }

    .separatorWrapper p {
        margin: 0 10px;
    }

    .heroContent {
        width: auto;
        text-align: center;
    }

    .columnOn#topMenu {
        height: 100%;
    }

    #topMenu ul {
        display: none;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        padding-top: 140px;
        align-items: center;
        gap: 50px;
        opacity: 0;
        background-color: var(--color-grey);
    }

    #topMenu ul li a {
        color: var(--background-color);
    }

    #topMenu a::before {
        background-image: url(svg/listekZielony.svg);
    }


    .columnOn#topMenu ul {
        display: flex;
        opacity: 1;
    }

    .hamburger {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
    }

}

@media (max-width: 576px) {

     :root {
        --spacing: 30px;

    }

    .footerSection,
    .classicSection article,
    .classicSection.reverse article,
    .dropzone-container
    {
        flex-direction: column;
    }

    .draggable-container{
         height: 800px;   
    }

    .footerSection {
        text-align: center;
    }

    article .sectionRow {
        width: 100%;
    }

    .sectionRow.content {
        padding-bottom: var(--spacing);
    }

    .classicSection article .content {
        padding-right: 0;
    }

    .classicSection.reverse article .content {
        padding-left: 0;
    }

    .alignFirst {
        margin-right: unset;
        align-self: unset;
    }

    .separatorWrapper p {
        margin: 0 10px;
    }

    .heroContent {
        width: auto;
        text-align: center;
    }

    .columnOn#topMenu {
        height: 100%;
    }

    #topMenu ul {
        display: none;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        padding-top: 140px;
        align-items: center;
        gap: 50px;
        opacity: 0;
        background-color: var(--color-grey);
    }

    #topMenu ul li a {
        color: var(--background-color);
    }

    #topMenu a::before {
        background-image: url(svg/listekZielony.svg);
    }


    .columnOn#topMenu ul {
        display: flex;
        opacity: 1;
    }

    .hamburger {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
    }

    :root {
        --font-size: 15px;
        --big-font-size: 30px;
    }

    .heroTitle {
        font-size: 30px;
    }

    .heroSubtitle {
        font-size: 20px;
    }

    .articleSlideContent p {
        font-size: 15px;
    }

    .slick-current .articleSlideContent p {
        font-size: 16px;
        bottom: 0;
    }
}
