<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gabinet Stomatologiczny Kot</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='styles/animate.css') }}" rel="stylesheet"/>
    <script src="{{ url_for('static', filename='script/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='script/minigame.js') }}" defer></script>
    <script src="{{ url_for('static', filename='script/table.js') }}" defer></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>new WOW().init()</script>
</head>

<body class="homePage">
    <nav class="siteWidth flexOnCenter">
        <ul>
            <li><a href="{{ url_for('index') }}">Strona główna</a></li>
            <li><a href="{{ url_for('cennik') }}">Cennik</a></li>
            <li><a href="{{ url_for('kadra') }}">Kadra</a></li>
            <li><a href="{{ url_for('kontakt') }}">Kontakt</a></li>
        </ul>
    </nav>

    <section class="mapSection mainSection">
        <section class="heroMap">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2359.274678093566!2d20.503455329367224!3d53.748991928435586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e278ea097f49d9%3A0x4d459a6f5e989c3d!2sStomatologia%20Kot!5e0!3m2!1spl!2spl!4v1729451407748!5m2!1spl!2spl"
                width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
    </section>


    <section class="sectionInformation siteWidth mainRow">
        <section class="Column">
            <img src="{{ url_for('static', filename='img/logo_B.png') }}" alt="logo duże" width="100%">
        </section>
        <section class="Column ColumnMiddle">
            <p><b>Gabinet Stomatologiczny Kot</b> to nowoczesny zespół gabinetów stomatologicznych, położony w centrum
                <b>Olsztyna</b>. Świadczy on usługi z zakresu implantologii, protetyki, ortodoncji, endodoncji,
                stomatologii
                zachowawczej oraz chirurgii stomatologicznej.
            </p>
        </section>
        <section class="Column">
            <p> Barcza 48/6l</p>
            <p> 10-685 Olsztyn</p>
            <p> Pon - Pt: 8:00 - 15:00</p>
            <p> Wizyty dostępne co 30 minut</p>
            <p> 604 706 270 | 604 706 277</p>
            <p> info@gabinetstomatologicznykot.pl</p>
        </section>

        <section class="Column minigame">
            <h2 class="headingText wow fadeInUp" data-wow-duration="1.5s">Minigra</h2>
            <div id="dropZone1" class="dropzone" value="0"></div>
            <div id="dropZone2" class="dropzone" value="1"></div>
            <div id="dropZone3" class="dropzone" value="2"></div>
            <div id="dropZone4" class="dropzone" value="3"></div>
            <div id="draggableContainer" class="draggable-container">
                <div id="draggableItem1" class="draggable" draggable="true" value="2">1</div>
                <div id="draggableItem2" class="draggable" draggable="true" value="0">2</div>
                <div id="draggableItem3" class="draggable" draggable="true" value="1">3</div>
                <div id="draggableItem4" class="draggable" draggable="true" value="3">4</div>
            </div>
            <button id="confirmButton">Confirm Choice</button>
            <p id="gameResult"></p>
        </section>

        <h2 class="headingText wow fadeInUp" data-wow-duration="1.5s">Tabeleczka</h2>
        <table class="dataTable" id="dataTable">
            <thead>
                <tr>
                    {% for column in euro_data_to_show[0].keys() %}
                        <th>{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in euro_data_to_show %}
                    <tr>
                        {% for value in row.values() %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="navButtons">
            <button id="prevButton">Poprzednia Strona</button>
            <button id="nextButton">Następna Strona</button>
        </div>
        <h2 class="headingText wow fadeInUp" data-wow-duration="1.5s">Wykresik</h2>
        <section class="Column custom-plotly-chart">
           {{ euro_plot | safe }}
        </section>
    
    <section class="Column">
        <h2 class="headingText wow fadeInUp" data-wow-duration="1.5s">Ilość wszystkich odpadów wyprodukowanych w Polsce w latach 2003-2023</h2>

        <h3 class="headingText wow fadeInUp" data-wow-duration="1.5s">Masa wyprodukowanych odpadów(w tysiącach ton) z podziałem na województwa</h3>
        <p>Źródło danych: Baza danych lokalnych GUS</p>
        <div style="margin-bottom: 50px;" class="custom-plotly-chart">
            {{ pl_all_plots[0] | safe }}
        </div>

        <h3 class="headingText wow fadeInUp" data-wow-duration="1.5s">Suma wszystkich wyprodukowanych odpadów w Polsce</h3>
        <p>Źródło danych: Baza danych lokalnych GUS</p>
        <div style="margin-bottom: 50px;" class="custom-plotly-chart">
            {{ pl_all_plots[1] | safe }}
        </div>

        <h2 class="headingText wow fadeInUp" data-wow-duration="1.5s">Ilość odpadów(w tysiącach ton) wyprodukowanych przez  w Polsce z podziałem na województwa</h2>

        <h3 class="headingText wow fadeInUp" data-wow-duration="1.5s">Masa wyprodukowanych odpadów(w tysiącach ton) z podziałem na województwa</h3>
        <p>Źródło danych: Baza danych lokalnych GUS</p>
        <div style="margin-bottom: 50px;" class="custom-plotly-chart">
            {{ pl_communal_plots[0] | safe }}
        </div>

        <h3 class="headingText wow fadeInUp" data-wow-duration="1.5s">Suma wszystkich wyprodukowanych odpadów w Polsce</h3>
        <p>Źródło danych: Baza danych lokalnych GUS</p>
        <div style="margin-bottom: 50px;" class="custom-plotly-chart">
            {{ pl_communal_plots[1] | safe }}
        </div>
    </section>
    
    
  

    <footer>
        <section class="footerWrapper">
            <section class="footerSection siteWidth">
                <p class="alignFirst">© 2024 gabinetstomatologicznykot.pl Wszelkie prawa zastrzeżone</p>
                <p><a href="{{ url_for('polityka') }}">Polityka Prywatności</a></p>
                <p>Projekt i realizacja: Bartosz Wryszcz</p>
            </section>
        </section>
        
    </footer>

</body>

</html>