* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --background-blue: #364766;
    --background-dark-blue: #182b4f;
    --color-grey: #d8d8d8;
    --color-white: #fff;
    --font-color: #7a7a7a;
    --spacing: 60px;
    --siteWidth: 1280px;
}

body {
    line-height: 1.75;
    overflow-x: hidden;
}

p {
    font-size: 18px;
    color: var(--font-color);
}

a {
    text-decoration: none;
}

.siteWidth {
    max-width: var(--siteWidth);
    margin: 0 auto;
}

.flexOnCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.alignFirst {
    align-self: flex-start;
    margin-right: auto;
}

.mainSection {
    padding-top: 0 !important;
}

.wideMode .sectionRow {
    width: 100% !important;
}

.mainRow {
    flex-direction: column;
    gap: 50px;
}

nav a::before,
.button,
a {
    transition: 300ms;
}

header {
    padding: 20px 20px 0 20px;
    gap: 20px;
    /* height: 120px; */
}

header h1 {
    text-transform: uppercase;
    font-size: 48px;
    color: var(--background-blue);
}

.stressText {
    color: var(--font-color);
}

.button {
    display: inline-flex;
    padding: 8px 16px;
    border: solid 3px var(--background-blue);
    font-size: 18px;
    border-radius: 3px;
    text-transform: uppercase;
    background-color: var(--color-white);
    color: var(--background-blue);
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--background-blue);
    border-color: var(--background-dark-blue);
    color: var(--color-white);
}

.buttonLight {
    border-color: var(--color-grey);
    color: var(--color-white);
    background-color: var(--background-blue);
}

.buttonLight:hover {
    background-color: var(--color-white);
    color: var(--background-blue);
    border-color: var(--background-dark-blue);
}

nav {
    height: 60px;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    width: 100%;
}

nav a {
    color: var(--font-color);
    position: relative;
    text-shadow: 2px 3px 3px 5px;
}

nav a::before {
    content: '';
    position: absolute;
    top: 25px;
    width: 0;
    height: 1px;
    background-color: var(--font-color);
    opacity: 0;
}

nav a:hover::before {
    opacity: 1;
    width: 100%;
}

nav .active a::before {
    opacity: 1;
    width: 100%;
}

.heroImage,
.heroMap {
    width: 100%;
    height: 100%;
    max-height: 600px;
}

.heroMap {
    max-height: 1200px;
    height: 300px;
}

.heroImage img {
    width: 100%;
    height: 100%;
    max-height: 600px;
    object-fit: cover;
}

.classicSection {
    padding-top: var(--spacing);
}

article {
    display: flex;
}

.SingleColumn {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 60px; */
}

.SingleColumn .headingText {
    justify-content: center;
    text-align: center;
    padding: var(--spacing) 0 !important;
}

.SingleColumn .content {
    padding: 0;
}

.headingText,
.headingTextPrice {
    width: 100%;
    display: flex;
    font-size: 42px;
    color: var(--font-color);
    text-transform: uppercase;
    padding-bottom: 30px;
}

.headingTextPrice {
    color: var(--color-grey);
    text-align: center;
    justify-content: center;
    padding-top: var(--spacing);
}

article .content {
    text-align: justify;
    padding-right: 30px;
}

article .sectionRow {
    width: 50%;
}

article .picture img,
article .pictureSmall img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 6px 11px 10px 0px rgba(0, 0, 0, 0.09);
}

article .pictureSmall {
    height: 80%;
}

.classicSection.reverse .headingText {
    justify-content: flex-end;
}

.classicSection.reverse article {
    flex-direction: row-reverse;
}

.classicSection.reverse article .content {
    padding-right: 0;
    padding-left: 30px;
}

.price-list {
    padding-top: var(--spacing);
}

.priceWrapper {
    width: 100%;
    background-color: var(--background-blue);
    padding-bottom: var(--spacing);
    flex-direction: column;
}

.priceTable,
.userTable {
    padding: 20px;
    border-collapse: collapse;
    width: 100%;
}

.priceTable td {
    border: 2px solid var(--color-grey);
    padding: 30px;
    text-align: center;
    color: var(--color-grey);
}

.userTable td,
tr {
    text-align: center;
    padding: 30px;
}

.userTable tr {
    color: var(--background-blue);
}

.userTable td {
    border-bottom: 2px solid var(--color-grey);
    color: #000;
}

.priceTable tr td:first-child {
    border-left: none;
    border-top: none;
}

.priceTable tr td:last-child {
    border-right: none;
    border-top: none;
}

.priceTable tr:last-child td {
    border-bottom: none;
}

.mapSection {
    padding-top: var(--spacing);
}

.sectionInformation {
    padding-top: var(--spacing);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Column {
    display: flex;
    flex-direction: column;
    flex: 0 0 27%;
}

.ColumnMiddle {
    flex: 0 0 36%;
}

.smallSection {
    width: 50%;

}

.smallSection p {
    text-align: center;
}

.smallSection .headingText {
    align-items: center;
    justify-content: center;
}

.smallSection article {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.smallSection article .sectionRow {
    width: 100%;
}

.teamWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.kadraPicture {
    height: 70% !important;
    width: 70% !important;
}

.sectionForm,
.sectionInfo {
    width: 50%;
    justify-content: center;
    display: flex;
}

.sectionInfo {
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.sectionForm input,
.sectionInfo input {
    display: block;
    font-size: 18px;
    border: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 3px solid var(--background-blue);
}

.sectionForm img {
    transform: scaleX(-1);
}

.formSection {
    padding-top: var(--spacing);
}

.formWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.inputWrapper {
    display: flex;
    gap: 30px;
}

.sectionForm input:focus,
.sectionInfo input:focus {
    border: none;
}

.registerWrapper {
    display: flex;
    flex-direction: column;
}

.registerButton {
    margin: 0;
}

.registerText {
    text-align: center;
}

.buttonWrapper {
    display: flex;
    justify-content: end;
    gap: 30px;
}

footer {
    padding-top: var(--spacing);
}

.footerWrapper {
    background-color: var(--background-blue);
}

.footerSection {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footerSection p {
    padding: 10px;
    font-size: 12px;
    color: var(--color-white);
}

.footerSection a {
    color: var(--color-white);
}

.footerSection a:hover {
    color: var(--color-grey);
}

.minigame {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropzone {
    width: 200px;
    height: 200px;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #333;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
}

.dropzone[value="0"] {
    background-color: #a3e0a3;
}

.dropzone[value="1"] {
    background-color: #e0a3a3;
}

.dropzone[value="2"] {
    background-color: #a3c2e0;
}

.dropzone[value="3"] {
    background-color: #e0c2a3;
}

.draggable-container {
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 10px;
    border: 2px solid #ccc;
    margin-bottom: 20px;
}

.draggable {
    width: 80px;
    height: 80px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    cursor: grab;
    position: relative;
    text-align: center;
}

.draggable:active, .draggable.grabbing {
    cursor: grabbing;
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
}

.draggable.locked {
    cursor: not-allowed;
    opacity: 0.5;
}

.draggable[value="0"] {
    background-color: #4CAF50;
}

.draggable[value="1"] {
    background-color: #FF5722;
}

.draggable[value="2"] {
    background-color: #2196F3;
}

.draggable[value="3"] {
    background-color: #FFC107;
}

.draggable.locked {
    cursor: not-allowed;
    opacity: 0.5;
}

#confirmButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

#confirmButton:hover {
    background-color: #45a049;
}

.hidden {
    opacity: 0.1;
    pointer-events: none;
}

#gameResult {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 15px;
}